DATABASE_URL="postgresql://user:password@localhost:5432/tianjipan?schema=public"
NEXTAUTH_SECRET="change-me-to-a-random-32-char-string"
NEXTAUTH_URL="http://localhost:3000"
ADMIN_SEED_NICKNAME="天机子"
ADMIN_SEED_PASSWORD="admin1234"
